:root {
  /*Primary*/
  --Red: hsl(0, 78%, 62%);
  --Cyan: hsl(180, 62%, 55%);
  --Orange: hsl(34, 97%, 64%);
  --Blue: hsl(212, 86%, 64%);
  /*Neutral*/
  --VeryDarkBlue: hsl(234, 12%, 34%);
  --GrayishBlue: hsl(229, 6%, 66%);
  --VeryLightGray: hsl(0, 0%, 98%);
}

/*Weights: 200, 400, 600*/

*,
*::before,
*::after {

  box-sizing: inherit;
  margin: 0;
  padding: 0;

}

html {
  box-sizing: border-box;
}

body {
  background-color: var(--VeryLightGray);
  font-family: 'Poppins', sans-serif;
  padding: 80px 0;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

}

.header {
  width: 40%;

}

.header h1 {
  color: var(--VeryDarkBlue);
  font-weight: 600;
  font-size: 2.25rem;
  margin-bottom: 1rem;
}

.header h2 {
  color: var(--VeryDarkBlue);
  font-weight: 200;
  font-size: 2.25rem;
}

.header p {
  color: var(--GrayishBlue);
  font-weight: 400;
  margin-bottom: 4rem;
  font-size: 0.9rem;
  padding: 0 2rem;


}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: center;
}


.container {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 0 1rem;

}

.container h3 {
  color: var(--VeryDarkBlue);
  font-weight: 600;
  margin-bottom: 1rem;

}

.container p {
  color: var(--GrayishBlue);
  font-weight: 400;
  margin-bottom: 2.5rem;
  font-size: 0.75rem;

}

.container img {
  max-width: 62px;
  max-height: 62px;
  align-self: flex-end;
}

.container>* {
  flex: 1;
  border-radius: 5px;
  max-width: 350px;
}

.supervisor {
  background-color: white;
  display: flex;
  flex-direction: column;
  padding: 2rem;
  box-shadow: 10px 10px 19px -6px rgba(68, 66, 66, 0.33);
  border: none;
  border-top: 4px solid var(--Cyan);

}

.col-2 {
  flex: 1.21;
  display: flex;
  flex-direction: column;
  gap: 2rem;

}

.team-builder {
  background-color: white;
  display: flex;
  flex-direction: column;
  padding: 2rem;
  box-shadow: 10px 10px 19px -6px rgba(68, 66, 66, 0.33);
  border-radius: 5px;
  border: none;
  border-top: 4px solid var(--Red);
}

.karma {
  background-color: white;
  display: flex;
  flex-direction: column;
  padding: 2rem;
  box-shadow: 10px 10px 19px -6px rgba(68, 66, 66, 0.33);
  border-radius: 5px;
  border: none;
  border-top: 4px solid var(--Orange);
}

.calculator {
  background-color: white;
  display: flex;
  flex-direction: column;
  padding: 2rem;
  box-shadow: 10px 10px 19px -6px rgba(68, 66, 66, 0.33);
  border: none;
  border-top: 4px solid var(--Blue);
}

@media screen and (max-width: 768px) {

  .header {
    width: 90%;
  }

  .header h1 {
    font-size: 1.5rem;
  }

  .header h2 {
    font-size: 1.5rem;
  }

  .header p {
    font-size: 0.95rem;
    padding: 0 1rem;

  }

  .container {
    margin-top: 1rem;
    width: 90%;

    flex-direction: column;
    gap: 1.5rem;
  }

  .container h3 {
    font-size: 1.25rem;
  }

  .container p {
    font-size: 0.85rem;
  }

  .container>* {
    padding: 1rem;
    max-width: 310px;
  }

  .col-2 {
    gap: 1.5rem;
    padding: 0;
  }

  .team-builder,
  .karma {
    padding: 1rem 1rem;
  }

}